# Next.js
frontend/.next/
frontend/out/
frontend/build/
frontend/node_modules/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Python
*.env
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
backend/*.pyc
backend/.env
backend/venv/
backend/.venv/
backend/.pytest_cache/

# OS & IDE
.DS_Store
*.pem
.vscode/
.idea/
Thumbs.db

# Allow .env.example files to be tracked
!.env.example
!*/.env.example